@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Cormorant+Garamond&display=swap');

body {
  background: #FFE5EA;
  font-family: 'Cormorant Garamond', serif;
  color: #D18293;
}

#app {
  text-align: center;
}

.page {
  display: none;
}

.page.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}

.password-form input {
  width: 120px;
  padding: 6px;
  font-family: inherit;
  text-align: center;
}

.error {
  color: #8C3F4D;
  margin-top: 15px;
}


h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h3{
  size: medium;
  text-align: center;
  margin-left:20%;
  margin-right:20%;
}

p {
  font-size: 2rem;
  margin-bottom: 40px;
}


button, .download {
  font-family: inherit;
  font-size: 1rem;
  padding: 12px 30px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #D72865;
}

button:hover, .download:hover {
  background: #DF4E81;
  color: #F4C3D4;
}

.page input {
  padding: 10px;
  font-family: inherit;
  text-align: center;
  margin-bottom: 10px;
  width: 500px;
  border-radius: 10px;
  border-color: #ffffff;
  color: #DF4E81;
}

.page .error {
  color: #beaab5;
  min-height: 1em;
  font-size: medium;
}

.mirror {
  transform: scaleX(-1);
  rotate: 180;
}

.jigsaw {
  border: none;
  width: 700px;
  height: 500px;
  display: block;
  margin-bottom: 10px;

}

.hint {
  margin-top: 20px;
  padding: 16px 20px;
  background: #FFF1F4;
  font-style: italic;
  max-width: 400px;
  border-radius: 10px;
  
}

/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 2s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  background-image: linear-gradient(45deg, #ff83a4 0%, #d8b3b3  51%, #f72386  100%);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #ffffff;
  text-decoration: none;
}

